<h1>Dragonball Page</h1>
<hr>
<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Agregar Personaje: {{ name() }} - {{ power() }}</h3>
        <input type="text" 
            class="form-control" 
            placeholder="Nombre" 
            [value]="name()"
            (change)="name.set(txtName.value)"
            (input)="name.set(txtName.value)"
            #txtName    
            >
        <!-- value hace el bind con la señal, el change cambia el valor de la señal al hacer enter, si quiero cambio con cualquier tecla presionada, uso input -->
        <!-- El #txtName es una referencia local, tipo string -->
        <input type="text" 
            class="form-control mt-2" 
            placeholder="Poder" 
            [value]="power()" 
            (change)="power.set(+txtPower.value)"
            (input)="power.set(+txtPower.value)"
            #txtPower
        >
        <!-- El #txtPower es una referencia local, tipo string, lo transforma en un string el +-->

        <button class="mt-2 btn btn-primary" (click)="addCharacter()">Agregar</button>
    </div>
    <div class="col-12 col-sm-6">
        <h3>Listado</h3>
        <ul>
            <!-- @for (character of characters(); track character.id), directiva estructural del controlFlow de angular, reemplaza el ngFor -->
            @for (character of characters(); track character.id; let i = $index) {
                <!-- @if (character.power > 500), directiva condicional de angular, reemplaza el ngIf -->
                @if (character.power > 500 || character.name !== 'Yamcha') {
                    <li>
                        <span>{{ i + 1 }} - {{ character.name }}</span>
                        <!-- [class.text-danger]="character.power >= 9000" directiva de angular para aplicar una clase condicional -->
                        <strong [class.text-danger]="character.power >= 9000" [class.text-info]="character.power < 9000"> ({{ character.power }})</strong>
                        <strong [ngClass]="powerClasses()"> ({{ character.power }})</strong>
                    </li>
                } @else {
                    <li>
                        <span>No sos nadie Yamcha</span>
                    </li>
                }
            } @empty {
                <li>No hay personajes</li>
            }
        </ul>
    </div>
</section>