<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Name and last name</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Name and last name of the user"
                           formControlName="name">

                    @if (formUtils.isInvalidField(myForm, 'name')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'name', 'Must have a space between name and last name') }}
                        </span>
                    }
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="Email of the user"
                           formControlName="email">

                    @if (formUtils.isInvalidField(myForm, 'email')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'email', 'Email is invalid') }}
                        </span>
                    }
                    @if (myForm.errors?.['emailExists']) {
                        <span class="form-text text-danger">
                            Email already exists
                        </span>
                    }
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Username of the user"
                           formControlName="username">

                    @if (formUtils.isInvalidField(myForm, 'username')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'username', 'Username is invalid') }}
                        </span>
                    }
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Password of the user"
                           formControlName="password">

                    @if (formUtils.isInvalidField(myForm, 'password')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'password') }}
                        </span>
                    }
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Confirm the password"
                           formControlName="password2">

                    @if (formUtils.isInvalidField(myForm, 'password2')) {
                        <span class="form-text text-danger">
                            {{ formUtils.getFieldError(myForm, 'password2') }}
                        </span>
                    }
                    @if (myForm.errors?.['passwordsNotEqual']) {
                        <span class="form-text text-danger">
                            Passwords are not equal
                        </span>
                    }
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Create
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<h2>Form Valid: {{ myForm.valid | json }}</h2>
<h2>Form Status: {{ myForm.status | json }}</h2>
<h2>Form Pending: {{ myForm.pending | json }}</h2>
<h2>Form value - errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls['name'].errors | json }}</pre>
<pre>{{ myForm.controls['name'].value | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls['email'].errors | json }}</pre>
<pre>{{ myForm.controls['email'].value | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.controls['username'].errors | json }}</pre>
<pre>{{ myForm.controls['username'].value | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.controls['password'].errors | json }}</pre>
<pre>{{ myForm.controls['password'].value | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls['password2'].errors | json }}</pre>
<pre>{{ myForm.controls['password2'].value | json }}</pre>