<h3 class="text-lg font-bold">Select a region</h3>
<section class="row mt-2">
    <div class="flex-col">
        @for (region of regions; track region) {
            <button 
            class="btn btn-outline btn-primary mr-2 mb-2 w-[100px]"
            (click)="selectedRegion.set(region)"
            [class.btn-active]="selectedRegion() === region"
            >
                {{ region }}
            </button>
        }
    </div>
</section>
<country-list [countries]="countriesByRegion.value()!"
    [errorMessage]="countriesByRegion.error()"
    [isLoading]="countriesByRegion.isLoading()"
    [isEmpty]="countriesByRegion.value()?.length === 0"
></country-list>