<h1>Dragonball Page</h1>
<hr>
<section class="row">
    <div class="col-12 col-sm-6">
        <dragonball-character-add></dragonball-character-add>
    </div>

    <div class="col-12 col-sm-6">
        <!-- [characters]="characters()" es para pasar el valor de la señal characters al componente hijo -->
        <!-- listName no lleva [] porque es un string, no referencia a una variable -->
        <dragonball-character-list [characters]="characters()" listName="Listado de personajes"></dragonball-character-list>
    </div>
</section>