<!-- Manejo con emición de evento ligado a la función searchByCapital -->
<!-- <app-search-input placeholder="capital" (searchOutput)="searchByCapital($event)"></app-search-input>  -->
<!-- Manejo con signal query ligada a un resource -->
<app-search-input placeholder="capital" (searchOutput)="term.set($event)"></app-search-input> 
<!-- Manejo de tabla con signals para el resultado, el loading y el error -->
<!-- @if (isLoading()) {
    <div class="flex justify-center items-center h-screen">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
} @else if (isError()) {
    <div class="flex justify-center items-center h-screen">
        <span class="text-red-500">{{isError()}}</span>
    </div>
} @else {
    <country-list [countries]="countries()"></country-list>
} -->

<!-- Manejo con resources -->
<country-list [countries]="countryByCapitalResource.value()!"
    [errorMessage]="countryByCapitalResource.error()"
    [isLoading]="countryByCapitalResource.isLoading()"
    [isEmpty]="countryByCapitalResource.value()?.length === 0"
></country-list>